$light-background: lightgrey;
$border-color: darkgrey;

$custom-light-green : rgb(7, 155, 7);
$custom-light-blue : #02a4e4;

$covance-header-blue-background : #0097d1;
$covance-hover-blue:#58c6d5;
$covance-dark-blue: #01a1e0;
$covance-gray-light-background: #e8e8e8;
$covance-gray-dark-background: #ababab;
$covance-gray-darkest-background: #707070;
$covance-error-red : #ed1849;
$covance-dark-red : #910043;
$covance-light-green: #01a553;
$covance-dark-green: #007139;